@import url('https://fonts.googleapis.com/css?family=Lato');

// COLORS
$primary-color: #262d45;
$background-color: darken($primary-color, 10%);
$font-color: #84839a;
$font-color-light: lighten($font-color, 20%);
$white: #ddd;
$black: #111;

// FONT
$font-family: 'Lato', Arial, Helvetica, sans-serif;
$base-font-size: 16px;
$line-height: 1.6;

// HEADINGS
$heading-scale: 6;
