@import "../../styles/variables";

table {
  font-size: 0.9rem;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  caption {
    background-color: lighten($primary-color, 10%);
    text-align: left;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    color: lighten($font-color, 10%);
    .search-box {
      float: right;
      input {
        padding: 5px;
        font-size: 1rem;
        background: #ddd;
        border: thin solid #666;
        border-radius: 4px;
      }
    }
  }
  tr {
    background-color: $primary-color;
  }
  th,
  td {
    text-align: left;
    padding: 1rem 1.5rem;
    border-top: thin solid rgba(255, 255, 255, 0.2);
    border-bottom: thin solid rgba(255, 255, 255, 0.2);
    vertical-align: middle;
    height: 78px;
    img {
      vertical-align: middle;
      margin: 0 15px;
    }
  }
  th {
    color: $font-color-light;
    text-transform: uppercase;
    cursor: pointer;
    border-top: 0;
    position: relative;
    &:before,
    &:after {
      content: " ";
      border: 5px solid transparent;
      content: "";
      display: block;
      height: 0;
      right: 25px;
      top: 50%;
      position: absolute;
      width: 0;
    }
    &:before {
      border-bottom-color: white;
      margin-top: -12px;
    }
    &:after {
      border-top-color: white;
      margin-top: 1px;
    }
  }

  thead tr,
  tbody tr:nth-child(2n) {
    background-color: darken($primary-color, 2%);
  }

  tr:last-child td {
    border-bottom: none;
  }
}

.pagination {
  text-align: right;
  button {
    padding: 15px;
    border-radius: 4px;
    font-size: 1rem;
    background-color: darken($primary-color, 2%);
    color: $font-color-light;
    border: 0;
    margin: 20px 10px;
    cursor: pointer;
    &:hover {
      background-color: $primary-color;
    }
  }
}
